$fontLight: 'RobotoLight';
$fontRegular: 'RobotoRegular';

$blueLigthLogo: #6C8DD3;
$yellowLogo: #EEB603;

@font-face{font-family:$fontLight;src:url('../fonts/RobotoLight.eot');src:url('../fonts/RobotoLight.eot') format('embedded-opentype'),
    url('../fonts/RobotoLight.woff2') format('woff2'),
    url('../fonts/RobotoLight.woff') format('woff'),
    url('../fonts/RobotoLight.ttf') format('truetype'),
    url('../fonts/RobotoLight.svg#RobotoLight') format('svg');
}
@font-face{font-family:$fontRegular;src:url('../fonts/RobotoRegular.eot');src:url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
    url('../fonts/RobotoRegular.woff2') format('woff2'),
    url('../fonts/RobotoRegular.woff') format('woff'),
    url('../fonts/RobotoRegular.ttf') format('truetype'),
    url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}
*{
    padding: 0;
    margin: 0;
    font-family: $fontRegular;
}
body,html{
    background-color: #333;
    font-size: 16px;
}
a{
    text-decoration: none;
}
.hidden{
    display: none;
}
.align-right{
    float: right;
}
.align-left{
    float: left;
}
.text-center{
    text-align: center;
}
.content{
    display: block;
    width: 95%;
    margin: 0 auto;
}
.content-main{
    position: relative;
    z-index: 1;
}
.menu-accessibility{
    display: none;
}

.header-main{
    display: block;
    background-image: url('../img/bgMain.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 768px;
    text-align: center;
}
.logo-main{
    margin-top: 10%;
    display: inline-block;
}
.tablet.logo-main{
    display: none;
}
.text-home{
    display: block;
    color: #fff;
    width: 90%;
    margin: 20% auto;
    font-size: 1.3rem;
    font-family: $fontLight;
}
.link-text{
    color: $yellowLogo;
}

/*Pra dispositivos que tem uma largura mínima de 768 pixels. Tablets, por exemplo.*/
@media screen and (min-width: 768px) {
    .mobile.logo-main{
        display: none;
    }
    .tablet.logo-main{
        display: inline-block;
    }
    .menu-accessibility{
        display: block;
        position: relative;
        padding: 10px 0;
        color: #333;
        background: #fff;
        text-align: left;
    }
    .item-menu-accessibility{
        font-size: 0.9rem;
        display: inline;
        padding: 5px;
        color: #333;
    }
    .item-menu-accessibility:hover{
        background: $blueLigthLogo;
        color: #fff;
        cursor: pointer;
    }
    .menu-accessibility-right{
        text-align: right;
        float: right;
    }

    .text-home{
        margin: 10% auto;
        font-size: 1.5rem;
    }

  
}

/*Com uma largura mínima de 992 pixels. Monitores por exemplo.*/
@media screen and (min-width: 992px) {
    .content{
        width:94%;
    }
    .logo-main{
        margin-top: 5%;
    }
    .item-menu-accessibility{
        font-size: 1rem;
    }
    .text-home{
        margin: 5% auto;
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 1200px) {
}
