<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Vigie Seu Deputado</title>

    <!--BASE-->
    <base href="https://vigieseudeputado.herokuapp.com/public/"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="VigieSeuDeputado é um projeto onde o usuário pode acompanhar todas as informações e gastos disponíveis dos deputados federais."/>
    <meta name="keywords" content="deputados, cota, parlamentar, vigie, gastos, públicos">
    <meta name="robots" content="index, follow"/>
    <meta name="author" content="Klismark Barbosa"/>
    <meta name="reply-to" content="klismark@hotmail.com"/>

    <!--Windows-->
    <meta name="application-name" content="Vigie seu deputado"/>
    <meta name="msapplication-square70x70logo" content="img/logos_metatags/logo_70x70.jpg"/>
    <meta name="msapplication-square150x150logo" content="mg/logos_metatags/logo_150x150.jpg"/>
    <meta name="msapplication-wide310x150logo" content="mg/logos_metatags/logo_310x150.jpg"/>
    <meta name="msapplication-square310x310logo" content="img/logos_metatags/logo_310x310.jpg"/>
    <meta name="msapplication-TileColor" content="#333"/>
    
    <!--iOS-->
    <link rel="apple-touch-icon" href="img/logos_metatags/logo_70x70.jpg">
    <link rel="apple-touch-icon" sizes="76x76" href="img/logos_metatags/logo_76x76.jpg">
    <link rel="apple-touch-icon" sizes="120x120" href="img/logos_metatags/logo_120x120.jpg">
    <link rel="apple-touch-icon" sizes="152x152" href="img/logos_metatags/logo_152x152.jpg">
    <meta name="format-detection" content="telephone=no">

    <!--Open Graph-->
    <meta property="og:title" content="Vigie seu deputado"/>
    <meta property="og:site_name" content="Vigie seu deputado"/>
    <meta property="og:type" content="website" />
    <meta property="og:image" content="img/logos_metatags/logo_310x310.jpg  "/>
    <meta property="og:url" content="http://vigieseudeputado.heroku.com/"/>
    <meta property="og:description" content="VigieSeuDeputado é um projeto onde o usuário possa acompanhar todas as informações e gastos disponíveis dos deputados federais."/>
    <meta property="og:locale" content="pt_BR" />
    <meta property="fb:admins" content="966242223397117"/>
    
    <!--Twitter-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@" />
    <meta name="twitter:creator" content="@klismark" />
    <meta name="twitter:title" content="Vigie seu deputado" />
    <meta name="twitter:description" content="VigieSeuDeputado é um projeto onde o usuário possa acompanhar todas as informações e gastos disponíveis dos deputados federais." />
    <meta name="twitter:image" content="img/logos_metatags/logo_310x310.jpg" />
    

    <!--Favicon-->
    <link rel="shortcut icon" href=img/favicon.png type="image/x-icon">

    <!--CSS-->
    <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet"/>  
    <link href="css/main.min.css" type="text/css" rel="stylesheet"/>  
</head>
<body>
    <header class="header-main" id="home" role="banner">
        <menu id="menu-accessibility" aria-hidden="true" class="menu-accessibility text-center">
            <button type="button" id="btn-speech-recognition" role="button" accesskey="1" class="item-menu-accessibility" title="Ativar comando de voz.">1 - Ativar comando de voz</button>
            <a href="#conteudo" role="button" accesskey="2" class="item-menu-accessibility" title="Ir para a busca de deputados.">2 - Ir para conteúdo</a>
            <div class="menu-accessibility-right">
                <button type="button" id="btn-up-font" role="button" accesskey="4" class="item-menu-accessibility " aria-label="Aumentar o tamanho da letra." title="Aumentar o tamanho da letra.">A+</button>
                <button type="button" id="btn-low-font" role="button" accesskey="5" class="item-menu-accessibility " aria-label="Diminuir o tamanho da letra." title="Diminuir o tamanho da letra.">A-</button>
                <button type="button" id="btn-contrast" role="button" accesskey="6" class="item-menu-accessibility " aria-label="Habilitar alto contraste." title="Habilitar alto contraste.">Alto Contraste</button>
                <button type="button" role="button" accesskey="7" class="item-menu-accessibility " aria-label="Abrir as opções de acessibilidade." title="Abrir as opções de acessibilidade.">Acessibilidade</button>
            </div>
        </menu>
        <span class="box-status-speech-recognition"><i class="fa fa-microphone"></i> Comando de voz ativado</span>
        <h1 class="hidden">Vigie seu deputado</h1>
        <img src="img/logo_mobile.png" class="logo-main mobile" alt="Desenho dos prédios do congresso nacional com o nome vigie seu deputado."/>
        <img src="img/logo.png" class="logo-main tablet" alt="Desenho dos prédios do congresso nacional com o nome vigie seu deputado."/>
        <p class="text-home" id="conteudo" role="article">
            No Vigie seu deputado você pode acompanhar seu deputado fiscalizando seus gastos da cota parlamentar e sua frequência nas sessões da câmara legislativa federal. 
            Você também pode comparar os gastos dos parlamentares e gerar diversos relatórios, analisando-os por categoria e tendo total transparência dos mesmos.
            <br><br>
            Todos os dados são abertos e disponibilizados pelo site <a class="link-text" href="http://www.camara.leg.br/">Câmara dos Deputados</a>. 
        </p>
    </header>
    <div id="data-congressmen">
        <hr>
    <section class="content">
        <div class="alert bg-success">
            <p class="text-center lead">Todos os deputados gastaram <span class="value-total bold text-danger">{{parseFloat(total).toLocaleString("pt-BR", {style: "currency",currency: "BRL"})}}</span> neste mandato em cotas parlamentares.</p>
        </div>
    </section>
    <section class="box-list-congressmen content" id="busca" role="main">
        <div class="well well-lg">
            <h2>Encontre seu deputado</h2>
            <form v-on:submit="filter()" role="search" id="form-filter-congressmen" action="javascript:void(0)">
                <div class="input-group input-group-lg">
                    <input type="text" id="text-search" v-model="search" class="form-control" placeholder="Pesquise por seu deputado">
                    <span class="input-group-btn">
                        <button role="button" id="btn-search" class="btn btn-primary " type="submit"><i class="fa fa-search" aria-hidden="true"></i> Pesquisar</button>
                    </span>
                </div>
            </form>
        </div>  
        <div id="box-all-congressmen" >
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6" v-for="congressman in congressmenFiltered" >
                            <div class="thumbnail" itemscope="" itemtype="http://schema.org/Person">
                                <img v-bind:src="congressman.ultimoStatus.urlFoto" class="photo-list-congressmen" height="152" width="114" v-bind:alt="'Foto do deputado '+congressman.ultimoStatus.nomeEleitoral">
                                <div class="caption info-list-congressmen">
                                    <h3 itemprop="name">{{congressman.ultimoStatus.nomeEleitoral}}</h3>
                                    <p class="text-info-list-congressmen">
                                        <span itemprop="affiliation"><i aria-hidden="true" class="fa fa-flag"></i> {{congressman.ultimoStatus.siglaPartido}} - {{congressman.ultimoStatus.siglaUf}}</span><br>
                                    </p>
                                    <a v-bind:href="'congressman.html#'+congressman.id" itemprop="url" class="btn-view-congressman btn btn-small btn-success">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i> Ver Detalhes
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p id="alert-box-loading" v-if="loading" class="alert alert-info text-center"><i class="fa fa-2x fa-spin fa-cog"></i><br>Carregando deputados...</p>                    
                    <p id="alert-box-loading" v-if="congressmenFiltered.length == 0 && !loading" class="alert alert-warning text-center"><i class="fa fa-2x fa-warning"></i><br>Nenhum deputado encontrado.</p>                                        
                </div>
            </div>
        </div>
    </section>
</div>
    <footer class="footer-main" role=”contentinfo”>
        <p>Desenvolvido por: <a class="link-text" href="mailto:klismark@hotmail.com">Klismark Barbosa</a></p>
    </footer>
    <script data-main="js/app" src="js/lib/require.js"></script>
</body>
</html>